{% extends 'layouts/base.html' %} {% block content %}
<main class="d-flex align-items-center justify-content-center alto-100">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card p-4">
        <div clas="card-body">
          <h1 class="display-1 text-center">Network Discover</h1>
          <p class="text-center">
            Esta aplicacion permite descubrir toda una red con el uso de Django
            y netmiko
          </p>
          <div class="d-grid gap-1 p-3">
            <a href="/start" class="btn btn-primary">Iniciar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
