{% extends 'layouts/base.html' %} {% block content %}

<div class="container center_container">
  <div class="row">
    <div class="col-6 center_topology">
      <img src="../static/img/Graph.png" alt="" class="center img-width" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 ml-13 center_form">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="device">Que dispositivo quieres modificar: </label>
          <select name="device" class="form-select" id="device">
            {% for device in device_list %}
            <option value="{{ device }}">{{ device }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4 mlef-100">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
