{% extends 'layouts/base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h1>Ingresar Datos</h1>
      <form method="POST">
        <h4 class="Error_conn">{{ error }}</h4>
        {% csrf_token %} {{ form }} {% comment %}
        <div class="mb-3">
          <input
            type="text"
            name="ip"
            id="device_ip"
            placeholder="IP address"
            class="form-control border-1"
            minlength="7"
            maxlength="15"
            size="15"
            pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            name="username"
            id="device_username"
            placeholder="Username"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            name="password"
            id="device_password"
            placeholder="Password"
            class="form-control"
            required
          />
        </div>
        {% endcomment %}
        <button class="btn btn-primary my-2">Entrar</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
